.review > .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem ;
}

.review >  .box-container > .box {
   border: var(--border);
   text-align: center;
   padding: 3rem 2rem;
}

.review > .box-container > .box > p {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 2rem 0;
    line-height: 1.8;
}

.review > .box-container > .box > h3 {
    font-size: 2.1rem;
    color: var(--text-color);
    padding: 2rem 0;
}

.review > .box-container > .box > .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}